.clock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Product Sans Regular', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: normal;
}